.home {
  display: flex;
}

.presentation {
  font-size: 6vh;
  width: 370px;
  margin-top: 10rem;
  padding-left: 14vmin;
  z-index: 1;
  position: absolute;
}

.overlay {
  background-image: url(../../assets/font-homepage.png);
  width: 552px;
  height: 500px;
  margin-top: 7rem;
  margin-bottom: 3rem;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

.name {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    146deg,
    rgba(231, 238, 1, 1) 10%,
    rgba(238, 118, 211, 1) 52%,
    rgba(0, 221, 255, 1) 100%
  );
}

.introduction {
  font-size: 20px;
  margin-top: 2rem;
}

.redirections {
  display: flex;
  justify-content: space-between;
  width: 16rem;
  margin-top: 2rem;
}

.button1 {
  background-color: rgb(254, 120, 82);
  border-radius: 50px 50px 50px 50px;
  height: 2.2rem;
  width: 7rem;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.button2 {
  background-color: transparent;
  border-radius: 50px 50px 50px 50px;
  height: 2rem;
  width: 7rem;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: 2px solid black;
  text-decoration: none;
}

@media (max-width: 600px) {
  .presentation {
    margin-left: 0rem;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    padding-left: 9vmin;
  }
}

@media (max-width: 750px) {
  .overlay {
    display: none;
  }

  .presentation {
    position: initial;
    margin-bottom: 5rem;
  }
}
@media (max-width: 430px) {
  .presentation {
    padding-left: 2vmin;
  }

  .introduction {
    font-size: 15px;
    width: 330px;
  }
}
